# My own lib:

easai >= 0.0.11

# OTHER:

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
huggingface_hub
openai
requests
torch
torchvision
torchaudio
scipy
transformers
certifi
bs4
langchain-text-splitters
sentence-transformers

# Env files:
python-dotenv

langchain_community
langchain-chroma
langchain-openai
sentence-transformers

# The Movie Database:
tmdbsimple

# RSS Feed parsing
rss_parser

# For searching arxiv.org:
arxiv

# For getting the current weather:
pyowm

# For image manipulation:
pillow

# For accessing Jira:
jira

# For converting Google Docs -> Html -> Markdown:
html2text

# For route planning and driving directions:
googlemaps

# For looking up in wikipedia:
wikipedia

# For finding web pages on the internet:
duckduckgo_search

# For the flask websites:
flask
